	.wrapper {
		height:180vh;
		margin-bottom: 40px;
		background-color: #909090;
	}

	.navbar {
		background-color: #303030;
	}

	.active {
	 background-color: #2b908f;
	}

	.nadpis {
	 background-color: #FF0000;
	}

	.obsah{
	 background-color: #00ff00;
	}

	li a:hover:not(.active) {
	    background-color: #909090;
	     color: #303030;
	}

	a {
		color: #ffffff;
	}

	a:hover {
		color: #ffffff;
	}

	#info { 
	    height: 40px; 
	    position: fixed; 
	    bottom:0%;
	    width:116%; 
	    opacity: 1;
	    background-color: #000000;
	    color: #ffffff;
	}

	.logo-ico {
		font-size: 250px;
		left: 40%;
		position: absolute;
	}
	.center {
		position: : center;
		position: relative;
	}

	
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 75%;
      margin: auto;
      max-height: 600px
  }

#table {
		width: 40%;
		margin: auto;
		color: white;
		font-size: 20px;
		border-collapse: collapse;

	}

	#table td, #table th {
		border: 1px solid #606060;
		text-align: center;
		padding: 5px;
	}

	#table tr:nth-child(even){
		background-color: #555555
	}
	#table tr:nth-child(odd){
		background-color: #222222
	}

	#table tr:hover {
		background-color: #2b908f;
	}

	#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #222222;
	color: white;
	}

